
    .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    /* height: 800px; */
    justify-content: center !important;
    background-image: url("https://i.pinimg.com/originals/43/bc/59/43bc5943d55fe07f5d5647ae9b3c8547.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    } 

    #thisMonth {
    border: 2px solid #2C2C34;
    height: 53%;
    padding: 15px 15px 15px 15px;
    }
    
    #addSubBtn {
      /* width: 100px !important; */
    font-size: medium !important;
    margin-bottom: 50px !important ;
    font-weight: lighter !important;
    }

    #welcomeScreen {
    background-color: #D7B377;
    padding: 20px 20px 20px 20px;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: underline;
    margin-bottom: 25px;
    font-family: 'Kalam', cursive; 
    }

    #settingsButton {
      margin-top: 5px;
    }

    td {
      padding: 5px;
    }

    #otherSpace {
      height: 40px;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    
      /* Force table to not be like tables anymore */
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
    
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    
      tr {
        border: 1px solid #ccc;
      }
    
      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        /* padding-left: 50%; */
      }
    
      td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }
    
      /*
    	Label the data
    	*/
      /* td:nth-of-type(1):before {
        content: "Subscription";
      }
    
      td:nth-of-type(2):before {
        content: "Due Date";
      }
    
      td:nth-of-type(3):before {
        content: "Amount";
      } */
    }

    /* Added for styling the budget tips */
    .budgetTips{
      color: rgba(7, 7, 7, 0.541);
      padding-inline: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 1rem;
      font-size: 0.8rem;
      background-color: rgba(127, 191, 221, 0.486);
    }

    .budgetTips > .bold{
      color: rgba(7, 7, 7, 0.863);
      text-decoration: underline;
      text-decoration-color: rgba(27, 120, 163, 0.822);
    }