
    .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    width: 80%;
    height: 850px;
    justify-content: center !important;
    background-image: url("https://i.pinimg.com/originals/43/bc/59/43bc5943d55fe07f5d5647ae9b3c8547.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    } 

    #thisMonth {
    border: 2px solid #2C2C34;
    height: 53%;
    padding: 15px 15px 15px 15px;
    }
    
    #addSubBtn {
      /* width: 100px !important; */
    font-size: medium !important;
    margin-bottom: 50px !important ;
    font-weight: lighter !important;
    }

    #welcomeScreen {
    background-color: #D7B377;
    padding: 20px 20px 20px 20px;
    font-weight: bolder;
    border-radius: 5px;
    text-decoration: underline;
    margin-bottom: 25px;
    font-family: 'Kalam', cursive; 
    }

    #settingsButton {
      margin-top: 5px;
    }

    td {
      padding: 5px;
    }