
#logo {
max-height: 300px;
min-height: 200px;
margin-bottom: 50px;
}

#money {
padding-top: none !important;
/* width: 100px; */
}

#homeContainer {
border: 5px #885A5A solid;
border-radius: 25px;
background: rgb(215,179,119);
background: radial-gradient(circle, rgba(215,179,119,1) 0%, rgba(89, 201, 165, 0.863) 100%);
padding: 20px 20px 20px 20px;
margin-left: 100px;
margin-right: 100px;
font-family: 'Kalam', cursive;
font-size: larger;
font-weight: bold;
}

Button {
    background-color: #885A5A !important;
    border: 2px #885A5A !important;
    color: white !important ;
    font-weight: bolder !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

Button:hover {
    background-color: #D7B377 !important;
}

/* #427AA1 BLUE
#2C2C34 D BROWN
#885A5A RED
#59C9A5 GREEN
#D7B377 YELLOW
*/