#logo {
    max-height: 300px;
    min-height: 100px;
    margin-bottom: 50px;
}

#money {
    padding-top: none !important;
    height: 175px;
}

#homeContainer {
    border: 2px #2C2C34 solid;
    border-radius: 25px;
    background: rgb(215, 179, 119);
    background: radial-gradient(circle, rgba(215, 179, 119, 0.7791491596638656) 27%, rgba(89, 201, 165, 0.742734593837535) 100%);
    /* background: rgb(215,179,119);
background: radial-gradient(circle, rgba(215,179,119,1) 0%, rgba(89, 201, 165, 0.863) 100%); */
    padding: 20px 20px 20px 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    font-family: 'Kalam', cursive;
    font-size: larger;
    font-weight: bold;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

Button {
    background-color: #885A5A !important;
    border: 2px #885A5A !important;
    color: white !important;
    font-weight: bolder !important;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

Button:hover {
    background-color: #D7B377 !important;
}

/* #427AA1 BLUE
#2C2C34 D BROWN
#885A5A RED
#59C9A5 GREEN
#D7B377 YELLOW
*/