* {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
    color: black;
}

#singUpBtnMain {
    margin-bottom: 100px;
}

#logo {
    max-height: 300px;
    min-height: 100px;
    margin-bottom: 50px;
}

#money {
    padding-top: none !important;
    height: 175px;
}

Button {
    background-color: #885A5A !important;
    border: 2px #885A5A !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
}

Button:hover {
    background-color: #D7B377 !important;
}

#loginBtnHome {
    margin-bottom: none !important ;
}

/* #427AA1 BLUE
#2C2C34 D BROWN
#885A5A RED
#59C9A5 GREEN
#D7B377 YELLOW
*/