#card {
    align-items: center !important;
    border: 1px black solid !important;
    justify-content: center !important;
    width: 400px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#subDesc {
    width: 90%;
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    padding: 5px 5px 5px 5px;

}