.footerButtons {
    padding-top: 80px;
    margin-bottom: 75px !important;
    display: flex;
    justify-content: center;
}

.footer-items {
        display: inline-block;
        text-align: center;
        color: white !important;
        cursor: pointer;
        padding-right: 30px;
}

a {
    color: whitesmoke !important;
    text-decoration: none;
    font-weight: lighter;
}